@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  @apply scroll-smooth;
}

article {
  @apply prose md:prose-xl;
}

a {
  @apply no-underline;
}

h1 {
  @apply text-pgl-blue;
}

h1 {
  @apply mb-8 mt-4;
}

.container {
  @apply mx-auto max-w-3xl px-4 pt-10 sm:px-6 lg:max-w-4xl lg:px-8 xl:max-w-6xl;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
